@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans&display=swap');
/* General */
/* Mobile first */
body {
    background-color: white;
    color: #100f0f;
    margin: 20px;
    font-family: 'monospace', Merriweather;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 40px;
    font-weight: bold;
    background: #ffe87f; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #eca049, #ffe87f); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #eca049, #ffe87f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: inline;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

p {
    font-size: 16px;
    line-height: 130%;
    padding: 0;
    margin: 0;
    margin-bottom: 7px;
    color: black;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 50px;
    grid-template-areas:
    "header"
    "navigation"
    "main-content"
    "footer";
    grid-gap: 5px;
    text-align: center;

}

.homeLink {
    color: black;
    font-size: 20px;
    font-style: italic;
}

.collection-container aside {
    background-color: black;
}

.collection-container ul {
    font-size: 18px;
    text-align: -webkit-center;
}


header {
    grid-area: header;
    padding: 10px;
}

nav {
    grid-area: navigation;
    display: flex;
    flex-direction: column; /* Meny för mobil */

}

nav a {
    flex: 1;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(to top, #eca049 0%, #ffe87f 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    font-size: 20px;

    font-weight: bolder;
}

nav a:hover {
    padding-top: 0;
    align-items: center;

}


ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    margin-bottom: 7px;
}

a {
    font-size: 18px;
    color: #100f0f;
    text-decoration: -moz-nativehyperlinktext;
    font-weight: bold;

}

main {
    grid-area: main-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

main article {
    padding: 20px;
    background-color: white;
    color: #151514;
    padding-top: 25px;

}

main aside {
    padding: 20px;
    background-color: white;
    color: #0a0a0a;
    padding-top: 25px;

}

.collection-container {
    font-size: 30px;
    color: white;
    background: black;
}

footer {
    grid-area: footer;
}

.start_img {
    max-width: 50%;
    height: auto;

}

fieldset a {
    flex: 1;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    background-image: linear-gradient(to top, #eca049 0%, #ffe87f 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    font-size: 30px;
    font-weight: bolder;
}


/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* Ändrar storlek på fonter */
    h1 {
        font-size: 30px;
    }

    p {
        font-size: 14px;
    }

    a {
        font-size: 15px;
    }

    nav {
        flex-direction: row; /* Ändrar menyn till 1 rad */
    }

    /* Ändrar grid columns till 1fr 1fr (2 enheter bredvid varandra) */
    main {
        grid-template-columns: 1fr 1fr;
    }

    .start_img {
        max-width: 100%;
        height: auto;
    }
}

/* Desktop */
@media screen and (min-width: 1025px) {
    /* Ändrar storlek på fonter */
    h1 {
        font-size: 45px;
    }

    p {
        font-size: 14px;
    }

    a {
        font-size: 15px;
    }

    /* Centrerar grid-container och bestämmer 1000px bredd */
    section.grid-container {
        width: 1000px;
        margin: 20px auto;
    }

    header {
        text-align: center;
    }

    /* Ändrar grid columns till 1fr 1fr (2 enheter bredvid varandra) */
    main {
        grid-template-columns: 1fr 1fr;
    }

    nav {
        /* Ändrar menyn till en rad */
        flex-direction: row;
    }

    .start_img {
        max-width: 100%;
        height: auto;
    }

}